@import 'slider.css';

.consumer-choose {
  width: 1024px;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1024px auto;
  margin-left: auto;
  margin-right: auto;
}

#consumer-choose-product {
  background-image: url('consumer-choose-product.png');
}

#consumer-choose-shipment {
  background-image: url('consumer-choose-shipment.png');
}

#slider {
  position: relative;
  left: 410px;
  top: 252px;
  width: 215px;
}

#consumer-ui {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  background-color: #006efb;
}
