@import 'slider.css';

#consumer-ui {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  background-color: #006efb;
}

.consumer-choose {
  width: 1024px;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1024px auto;
  margin-left: auto;
  margin-right: auto;
}

#consumer-choose-product {
  background-image: url('consumer-choose-product.png');
}

#consumer-choose-shipment {
  background-image: url('consumer-choose-shipment.png');
}

#consumer-bought {
  background-image: url('consumer-bought.png')
}

#slider {
  position: relative;
  left: 410px;
  top: 252px;
  width: 215px;
}

#delivery-date {
  position: relative;
  left: 410px;
  top: 310px;
  width: 215px;
  text-align: center;
  color: white;
}

#buy {
  -webkit-appearance: none;
  display: block;
  position: relative;
  box-sizing: content-box;
  left: 470px;
  top: 550px;
  width: 90px;
  height: 32px;
  opacity: 0;
}
