#consumer-ui input[type=submit] {
  -webkit-appearance: none;
  display: block;
  position: relative;
  box-sizing: content-box;
  left: 470px;
  top: 250px;
  width: 100px;
  height: 32px;
  opacity: 0;
}
