#tracker {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  background-color: #006efb;
}

#tracker-ui {
  position: relative;
  width: 1024px;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1024px auto;
  margin-left: auto;
  margin-right: auto;
  background-image: url('tracker-empty.png')
}

#tracker-ui.results {
    background-image: url('img/legsleeg.png')
}

#order-number-form {
  position: relative;
  left: 370px;
  top: 120px;
  width: 300px;

  input[type=text] {
    width:260px;
    height:35px;
  }

  input[type=submit] {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background-color: transparent;
    outline:none;
    font-size: 15pt;
  }

  input {
    outline: none;
    border:none;
  }
}

#tracker-totals {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 1024px;
  left: 0px;
  top: 640px;
}

.tracker-total {
  text-align: center;
  color: white;
  font-size: 20pt;
  width: 512px;

  p { margin-bottom: 0; margin-top: 0; }
  .value {
      font-size: 150%;
      text-transform: uppercase;
  }
}

#tracker-total-co2 {
  left: 0px;
}

#tracker-total-distance {
  left: 512px;
}

#tracker-ui thead td {
    border-bottom: 1px solid #333;
}

#tracker-ui tbody td.totals {
    border-top: 1px solid #333;
}

#tracker-ui td.numeric {
    text-align: right;
}

#tracker-ui span.icon {
    display: block;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

#tracker-ui span.location.type-0 {
    background-image: url('img/location-type-0.png');
}

#tracker-ui span.location.type-1 {
    background-image: url('img/location-type-1.png');
}

#tracker-ui span.location.type-2 {
    background-image: url('img/location-type-2.png');
}

#tracker-ui span.location.type-3 {
    background-image: url('img/location-type-3.png');
}

#tracker-ui span.mode.leg-mode-0 {
    background-image: url('img/leg-mode-0.png');
}

#tracker-ui span.mode.leg-mode-2 {
    background-image: url('img/leg-mode-2.png');
}

#tracker-ui span.mode.leg-mode-3 {
    background-image: url('img/leg-mode-3.png');
}

#tracker-ui span.leafs {
    display: block;
    width: 112px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 112px 50px;
}

#tracker-ui span.leafs.leafs-1 {
    background-image: url('img/leaf1.png');
}

#tracker-ui span.leafs.leafs-2 {
    background-image: url('img/leaf2.png');
}

#tracker-ui span.leafs.leafs-3 {
    background-image: url('img/leaf3.png');
}

#tracker-ui {
    div.leg {
        clear: both;
        position: absolute;
    }

    div.leg-0 {
        top: 215px;
        left: 90px;
    }

    div.leg-1 {
        top: 317px;
        left: 230px;
    }

    div.leg-2 {
        top: 419px;
        left: 391px;

        span.distance {
            width: 100px;
        }
    }

    span { float: left; }
    span.icon.from {
        position: relative;
        left: 20px;
    }

    span.mode {
        position: relative;
        left: 50px;
    }

    span.icon.to {
        position: relative;
        left: 70px;
    }

    span.distance {
        position: relative;
        left: 80px;
        top: 24px;
        font-size: 20pt;
        color: #666;
        width: 130px;
        text-align: right;
    }

    span.leafs {
        position: relative;
        left: 100px;
        top: 8px;
    }
}
