#tracker {
  width: 100%;
  height: 100%;
  padding-top: 2em;
  background-color: #006efb;
}

#tracker-ui {
  width: 1024px;
  height: 768px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1024px auto;
  margin-left: auto;
  margin-right: auto;
  background-image: url('tracker-empty.png')
}

#tracker-ui.results {
    background-image: url('img/legsleeg.png')
}

#order-number-form {
  position: relative;
  left: 370px;
  top: 120px;
  width: 300px;

  input[type=text] {
    width:260px;
    height:35px;
  }

  input[type=submit] {
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background-color: transparent;
    outline:none;
    font-size: 15pt;
  }

  input {
    outline: none;
    border:none;
  }
}

#tracker-ui thead td {
    border-bottom: 1px solid #333;
}

#tracker-ui tbody td.totals {
    border-top: 1px solid #333;
}

#tracker-ui td.numeric {
    text-align: right;
}
